:root {
  --primary: #16a34a;
  --secondary: #2563eb;
  --danger: #dc2626;
  --warning: #ea580c;
  --purple: #7c3aed;

  --text-dark: #111827;
  --text-muted: #6b7280;

  --border: #e5e7eb;
  --bg-light: #f9fafb;
  --white: #ffffff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;
}
